<!DOCTYPE html><html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>{% block title  %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
<div id="Header">{% block header %}{% endblock %}</div>
<div id="leftbord">{% block leftbord %}{% endblock %}</div>
<div id="rightbord">{% block rightord %}{% endblock %}</div>
<div id="footer">{% block footer %}{% endblock %}</div>
</body>